.guido-stepper {
  display: inline-block;
  width: 100%;
  box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}
.form-slide-input {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}
.guido-stepper-headline {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 15px;
  font-size: 24px;
}
.guido-stepper-subtitle {
  font-weight: 300;
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 15px;
  font-size: 18px;
}
.guido-stepper-slide-item {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: none !important;
  width: 130px;
}
.guido-stepper-slide-item img {
  width: 100%;
  height: 130px;
  display: inline-block;
  box-shadow: 0 0 5px rgba(0,0,0,.5) !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.form-slide-input {
  padding-left: 15px;
  padding-right: 15px;
}
.guido-stepper-submit-button {
  margin-left: 15px;
  margin-bottom: 20px;
}
.guido-stepper-slide-item-title {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  color: #FFF;
  background: rgba(128,147,1,.84);
  word-break: break-all;
  font-size: 12px;
  padding: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,.5) !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  z-index: 2;
}
.guido-stepper-slide-item:hover 
.guido-stepper-slide-item-title {
  opacity: 0.9;
}
.guido-stepper-slide-item:hover img {
  box-shadow: 0 0 5px rgba(128,147,1,.54) !important;
}
.guido-stepper-slide-item:hover
.guido-stepper-slide-item-title {
  box-shadow: 0 0 5px rgba(128,147,1,.84) !important;
}
.thank-you-slide {
  text-align: center;
}
.thank-you-slide h2 {
  height: 350px;
  line-height: 350px;
  font-size: 40px;
  font-weight: bold;
}
.form-slide {
  position: relative;
}
.guido-stepper-slide.form-slide .gs-loading {
  position: absolute;
  left: 50%;
  top: 130px;
  margin-left: -40px;
  margin-top: -40px;
  display: none;
}